<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.MedicineProcessMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.MedicineProcess">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="medicine_info" jdbcType="VARCHAR" property="medicineInfo" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="is_finish" jdbcType="TINYINT" property="isFinish" />
  </resultMap>
</mapper>