<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.OmUserMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.OmUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="emergency_phone" jdbcType="VARCHAR" property="emergencyPhone" />
    <result column="emergency_people" jdbcType="VARCHAR" property="emergencyPeople" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <resultMap id="countResultMap" type="com.company.project.model.CountModel">
    <collection property="list" ofType="integer">
    </collection>
  </resultMap>
  <select id="fun" resultType="integer" >
    select
    count(name)
    from om_user group by name
  </select>
</mapper>